# Make map of title names in R

**Motivation:** In R, the titles names are transform (white space are replaced by dot,  ' ' -> '.'). This scrip aims to make a map between these two maps

In [1]:
import pandas as pd
import numpy as np

# local
import set_path
import supp.support_load as sl
from supp.support_save import save_df

In [31]:
# Read R map
path_r = r"C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\unpacked\df_person_all\merged\vizier__35_title_list__r_names.csv"
df_r_names = pd.read_csv(path_r)
print(df_r_names.shape)
df_r_names.head()

(1, 2335)

,ID_person,vizier,X.cmcw....wxrt.aAt,X.wnn..imAx.c.nfr.xr.Ra.nb.Axt.y.,....1p,....BA.Nfr.ir.kA.ra,....Hct.n.xnt.yw.S.,....Hm.w..nTr.....m.Cxt.Ra,....Hm.kA,....Hm.nTr.1wt.1r,...,zmAwt.mry.Nbty.ncwt,zwnw,zwnw.Xt.pr.aA,zwnw.cmcw.pr.aA,zwnw.irty,zwnw.irty.pr.aA,zwnw.pr.aA,zÅ...n...i.m.yw..zA.20..n..niwt.mr,zÅ...n...i.m.yw..zA.20..n..niwt.mr.Mn.anx.Nfr.kA.ra,zÅ..wab.200.pr.aA
0,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1

In [36]:
# Read original map
path_original = r"C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\unpacked\df_person_all\merged\vizier__35_title_list.csv"
df_original_names = pd.read_csv(path_original)
print(df_original_names.shape)
df_original_names.head(2)

(4962, 2335)

,ID_person,vizier,(cmcw ?) wxrt aAt,(wnn) imAx.c nfr xr Ra nb Axt(y),... 1p,... BA-Nfr-ir-kA-ra,... Hct n xnt[yw-S],... Hm(w)-nTr ... m Cxt-Ra,... Hm-kA,... Hm-nTr 1wt-1r,...,zmAwt mry Nbty ncwt,zwnw,zwnw Xt pr-aA,zwnw cmcw pr-aA,zwnw irty,zwnw irty pr-aA,zwnw pr-aA,zš (n) (i)m(yw) zA 20 (n) niwt mr,zš (n) (i)m(yw) zA 20 (n) niwt mr Mn-anx-Nfr-kA-ra,zš wab 200 pr-aA
0,322,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,323,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [33]:
# Read original map
dfs, dfs_name, dfs_export_date = sl.load_pickle()
iton, ntoi = sl.get_name_dicts(dfs_name)
dfs_export_date

df_titles = dfs[ntoi['df_titles']]
print(df_titles.shape)
df_titles.head()

Pickle database loaded.
C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\dfs_complete.pickle
(2375, 24)

,category,completeness,general_work_classification,geographic_feature,ID_title,institution,Jones,notes_shift,period_evidence_1,period_evidence_2,...,reference_evidence_1,reference_evidence_2,reference_shift,specific_profession,specific_work_classification,title,translation_of_title,translation_1,translation_2,type
0,NaN,NaN,NaN,NaN,1,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,... iry cA-pr,NaN,NaN,NaN,NaN
1,NaN,NaN,legal matters,NaN,2,Great Court,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,legal matters,NaN,... n Hwt-wrt,... of the great court/Hall of Justice,NaN,NaN,administrative title – legal matters
2,NaN,NaN,NaN,NaN,3,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,... nb.f,NaN,NaN,NaN,epithet
3,NaN,NaN,NaN,NaN,4,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,... ncwt,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,5,Great House,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,... pr-aA,... of the Great House,NaN,NaN,NaN

In [37]:
# Get R title names
title_r = df_r_names.columns.to_list()
title_r[:10]

['ID_person',
 'vizier',
 'X.cmcw....wxrt.aAt',
 'X.wnn..imAx.c.nfr.xr.Ra.nb.Axt.y.',
 '....1p',
 '....BA.Nfr.ir.kA.ra',
 '....Hct.n.xnt.yw.S.',
 '....Hm.w..nTr.....m.Cxt.Ra',
 '....Hm.kA',
 '....Hm.nTr.1wt.1r']

In [38]:
# Get original title names
title_original = df_original_names.columns.to_list()
title_original[:10]

['ID_person',
 'vizier',
 '(cmcw ?) wxrt aAt',
 '(wnn) imAx.c nfr xr Ra nb Axt(y)',
 '... 1p',
 '... BA-Nfr-ir-kA-ra',
 '... Hct n xnt[yw-S]',
 '... Hm(w)-nTr ... m Cxt-Ra',
 '... Hm-kA',
 '... Hm-nTr 1wt-1r']

In [39]:
print(f'{len(title_r)}\t r lenght')
print(f'{len(title_original)}\t original lenght')
print(f'{df_titles.shape}\t df_titles shape')

2335	 r lenght
2335	 original lenght
(2375, 24)	 df_titles shape

In [47]:
# GLM models add to variable '1' at the end
title_r_1 = [title + '1' for title in title_r]

In [61]:
d = {
    'key': title_r[2:] + title_original[2:] + title_r_1[2:] + ['(Intercept)'],
    'value': title_original[2:] + title_original[2:] + title_original[2:] +['(Intercept)']
}
df_title_name_r_map = pd.DataFrame(d)
save_df(df_title_name_r_map, 'df_title_name_r_map')
print(df_title_name_r_map.shape)
df_title_name_r_map.head()

Dataframe saved into C:\Users\Stoja\OneDrive\Documents\diplomka\scr\data\df_title_name_r_map.csv
(7000, 2)

                                 key                             value
0                 X.cmcw....wxrt.aAt                 (cmcw ?) wxrt aAt
1  X.wnn..imAx.c.nfr.xr.Ra.nb.Axt.y.  (wnn) imAx.c nfr xr Ra nb Axt(y)
2                             ....1p                            ... 1p
3                ....BA.Nfr.ir.kA.ra               ... BA-Nfr-ir-kA-ra
4                ....Hct.n.xnt.yw.S.               ... Hct n xnt[yw-S]